In [1]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import streamlit as st
from api_caller import api_call
from helper_clean import historical_data_cleaner

In [2]:
test = pd.read_csv("project_1_mockdata.csv")
tickers = test['Ticker'].unique()
display(test)
display(tickers)

  Ticker  Quantity
0   AMZN         5
1   GOOG         7
2    WMT        20
3    JPM        25

array(['AMZN', 'GOOG', 'WMT', 'JPM'], dtype=object)

In [3]:
start_date = pd.Timestamp(str("2022-07-13"), tz="America/New_York").isoformat()
end_date = pd.Timestamp(str("2022-07-13"), tz="America/New_York").isoformat()
timeframe = "1Day"

alpaca_data = api_call()

historical_data = alpaca_data.get_bars(
    tickers,
    timeframe, 
    start = start_date,
    end = end_date
).df

historical_data.reset_index()

,timestamp,open,high,low,close,volume,trade_count,vwap,symbol
0,2022-07-13 04:00:00+00:00,107.00,111.7800,106.01,110.40,61357511,624223,109.997685,AMZN
1,2022-07-13 04:00:00+00:00,2252.78,2303.1399,2236.46,2243.74,1948452,97694,2257.751607,GOOG
2,2022-07-13 04:00:00+00:00,111.75,112.4769,110.38,111.91,12886200,137768,111.679064,JPM
3,2022-07-13 04:00:00+00:00,124.44,126.4600,123.91,125.37,4190285,58466,125.331197,WMT

In [4]:
def make_daily_close(pulled_df, tickers):
    
    # Create an empty list to hold the dictionaries for each day
    closing_data = []
    
    # Iterate through each unique timestamp to grab each stocks data
    for date in pulled_df.index.unique():
        
        # Create a dictionary to hold the timestamp, and each stocks closing price
        day_data = {}
        
        # Store the current timestamp that we are pulling data for
        day_data['Timestamp'] = date
        
        # Iterate through the tickers for that day, and grab each ones stock price
        for stock in tickers:
            day_data[stock] = pulled_df.loc[(pulled_df.index == date) & (pulled_df['symbol'] == stock), 'close'].item()
        
        # Append the current timestamps data to the list
        closing_data.append(day_data)
        
    # Create a dataframe from the list of closing price dictionaries
    cleaned_data = pd.DataFrame(closing_data)
    
    # Return the dataframe
    return cleaned_data

NameError: name 'df_portfolio' is not defined